@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700;800&family=JetBrains+Mono:wght@500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Manrope", system-ui, sans-serif;
  background-color: #fafaf9;
  color: #1c1c1c;
}
